@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Roboto+Mono:ital,wght@1,100&display=swap');

  .card{    
    text-align:left;
    margin: 40px auto;
    min-height: 350px;
    width: 75%;
    min-width: 580px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 10px 10px white;
    background-color: #fff;
    overflow: hidden;  
    transition: all 0.20s ease-in;
    cursor: pointer;
  }
  .card-detail_detail{
    padding: 12px 8px;
  }
  small{
    color: #8c8c8e;
  }
  .card-detail_muted{
    color: #8c8c8e
  }
  .bg{
    background-color: #FFD53D;
    font-family: 'Kalam', cursive;
  }
  .cargando{ 
    position: relative; 
    color: #FFF;
    margin-top: 2em;
    letter-spacing: 0.08em;
    text-transform: uppercase
  }
  .contenedor{
    place-content: center;
    height: 100vh;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }